body
{
    font-size: ;
}

@media screen and (max-width: 768px) {
 
    /* HEADER1 */
    
    .header
    {
        width: 100%;
        height:90px;
        background-color: rgba(11, 79, 108, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    }
    
    .header-content
    {
        width: 90%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        display: none;
    }

    /* MENU BURGER */

    .container {
        max-width: 1050px;
        width: 100%;
        
      }
      
      .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        z-index: 9999;
      }
      
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      .navbar .menu-items {
        display: flex;
      }
      
      .navbar .nav-container li {
        list-style: none;
      }
      
      .navbar .nav-container a {
        text-decoration: none;
        color:  rgba(11, 79, 108);
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .navbar .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbar .menu-items {
        background-color:  rgba(255, 255, 255, 0.8);
        padding-top: 120px;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease;
        text-align: center;
      }
      
      .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
      }
    
    /* FIN MENU BURGER */

    .black a
    {
        color: black;
        text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
        
    }
    
    .black a:hover
    {
        color: rgba(11, 79, 108, 0.4);
    }
    
    .logo
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
    }
    
    .logo img
    {
        width: 80px;
        margin-right: 20px;
        box-shadow: 8px 5px 15px rgba(11, 79, 108, 0.5);
    }

    .logo span 
    {
        font-size: 10px;
        margin-top: 5px;
    }
    
    .menu
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        
    }
    
    article
    {
        display: flex;
        align-items: center;
    }
    
    article a
    {
        /* color: rgba(0, 0, 0, 0.5); */
    }

    .none p
    {
        display: none;
    }
    
    article a:hover
    {
        color: rgb(0, 0, 0);
    }
    
    .icon1, .icon2
    {
        width: 25px;
        /* margin-right: 15px;
        padding-left: 15px; */
    }
    
    /* HEADER2 */
    
    .header2
    {
        width: 100%;
        height: 76px;
        background-color: rgb(11, 79, 108, 0.3);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .header2-content
    {
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .make
    {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.9);
        background-color:  rgba(11, 79, 108, 0.9);
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .search img
    {
        width: 25px;
        height: 25px;
    }
    
    .search:hover
    {
        background-image: url(icons/9035096_search_icon\ -\ Copie.svg);
        width: 25px;
        height: 25px;
    }
    
    
    .alert
    {
        /* background-color: rgb(11, 79, 108);
        color: white;
        letter-spacing: 2.5px;
        font-size: 10px;
        font-weight: 600;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 3px 5px grey; */
        display: none;
    }
    
    .header2-content button:hover
    {
        background-color: rgba(11, 79, 108, 0.2);
        color: rgb(11, 79, 108);
    }

    
    
    form, select, input
    {
        /* height: 40px;
        border-radius: 50px;
        padding: 0 10px;
        background-color:rgb(11, 79, 108, 0.01);
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
        font-size: 15px;
        border: solid 1px rgba(0, 0, 0, 0.5);
        letter-spacing: 2px; */
        display: none;
    }

    
    
    
    /* MAIN */
    
    nav 
    {
        width: 100%;
        height: auto;
        background-color:rgb(11, 79, 108, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav img 
    {
        width: 30px;
        height: 30px;
    }
    
    section
    {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
    }
    
    .grid
    {
        display: flex;
    }
    
    .left
    {
        /* background-image: url(img/house-4028391_640.jpg); */
        height: calc(419px / 1.5);
        width: calc(378px / 1.5);
        display: flex;
        align-items: flex-end;
        position: relative;
    }
    
    .first
    {
        background-image: url(img/house-540796_640.jpg);
    }
    
    .second
    {
        background-image: url(img/forest-5887115_640.jpg);
    }
    
    .third
    {
        background-image: url(img/log-cabin-1886620_640.jpg);
    }
    
    .fourth
    {
        background-image: url(img/house-4028391_640.jpg);
    }
    
    .fifth
    {
        background-image: url(img/architecture-3309203_640.jpg);
    }
    
    .sixth
    {
        background-image: url(img/lost-places-2759275_640.jpg);
    }
    
    .triangle
    {
        position: absolute;
        top:50%;
        right: -1%;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
        background-color: white;
        height: 30px;
        width: 30px;
        border: solid white 2px;
    }
    
    .favorite
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: none;
}

.favorite :hover
{
    background-image: url(icons/8542029_heart_love_like_icon.svg);
    /* background-size: cover; */
    width: 28px;
    height: 28px;
}

/* .img
{
    background-image: url(icons/heart_icon.svg);
    width: 30px;
    height: 30px;
} */
    
    .right
    {
        background-color: white;
        width: calc(239px / 1.5);
        height: calc(419px / 1.5);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    }
    
    .border
    {
        height: calc(391px / 1.5);
        width: calc(207px / 1.5);
        border: solid 0.5px rgba(11, 79, 108, 0.5);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-weight: 500;
    }
    
    .border a
    {
        color: rgba(0, 0, 0, 0.427);
        font-weight: 600;
        
    }
    
    .border a:hover
    {
        color: rgb(11, 79, 108);
    }
    
    
    .border button
    {
        width: calc(181px / 1.5);
        height: calc(44px / 1.5);
        background-color: rgb(11, 79, 108);
        color: white;
        letter-spacing: 2px;
        border: none;
        border-radius: 10px;
        box-shadow: 3px 3px 5px grey;
        font-size: 14px;
        font-weight: 600;
    }

    button span 
    {
        display: none;
    }
    
    .border button:hover
    {
        background-color: rgba(11, 79, 108, 0.2);
        color: rgb(0, 0, 0);
    }
    
    
    .border p
    {
        padding: 0 10px;
        font-weight: 100;
        font-size: 10px;
    }
    
    .city, .sq, .price
    {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 15px;
    }
    
    .city, .price
    {
        /* font-size: 20px; */
    }
    
    .sq, .price
    {
        color: rgb(11, 79, 108);
    }
    
    .bottom-page
    {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .pages
    {
        /* padding: 10px 170px 20px 0px; */
        color: black;
        font-weight: 600;
        font-size: 15px;
    }
    
    .pages span
    {
        font-size: 25px;
        font-weight: 700;
        color: rgb(11, 79, 108);
    }
    
    .post
    {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.6);
    }
    
    .post article
    {
        margin-left: 20px;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        background-color: rgb(11, 79, 108);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 50px;
        font-weight: 600;
    }
    
    .post article:hover
    {
        color: rgb(11, 79, 108);
        background-color: rgba(11, 79, 108, 0.258);
    }
    
    /* FOOTER */
    
    footer 
    {
        width: 100%;
        height: 200px;
        background-color:rgb(11, 79, 108, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-content
    {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 2px;
        position: relative;
    }

    footer a 
{
   color: black; 
}

footer a:hover
{
    color: rgba(0, 0, 0, 0.396);
    
}

    .section
    {
        width: 90px;
    }

    .rs, .app
    {
        width: 80px;
    }
    
    .footer-content img
    {
        height: 20px;
        margin: 20px 15px 0 0 ;
    }
    
    .section li
    {
        padding-bottom: 20px;
    }

    ul 
    {
        margin-block-start: 0;
        padding-inline-start: 0;
    }
    
    .section span
    {
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .rs 
    {
       
    }
    
    /* .rs img
    {
        margin-right: 10px;
    } */
    
    .app 
    {
        /* height: 120px; */
        display: flex;
        flex-direction: column;
    }

    .app span
    {
        display: none;
    }
    
    .download
    {
        display: flex;
        /* margin: 20px 10px 50px 0px; */
    }
    
    }
    
    
        
    